<div id="content" >
  <mat-card class="user-edit-card">
      <mat-card-title>פרטי משתמש</mat-card-title>
      <mat-card-content>
        <form [formGroup]="userForm" 
        (ngSubmit)="saveUser()" class="mat-card-content">
  
          <mat-form-field appearance="fill"  class="mat-form-field">
           <mat-label>שם</mat-label>
            <input matInput formControlName="email"  placeholder="לדוג. יוסי ">
           <mat-error *ngIf="userForm.get('email')?.hasError('required')">שדה זה הינו חובה</mat-error>  
           <mat-error *ngIf="userForm.get('email')?.hasError('email')"> מייל לא תקין</mat-error>  
          </mat-form-field> 
     
          <mat-form-field appearance="fill" class="mat-form-field">
            <mat-label>סיסמא</mat-label>
            <input matInput formControlName="password" placeholder="לדוג. 12dfgh11 ">
            <mat-error *ngIf="userForm.get('password')?.hasError('required')">שדה זה הינו חובה</mat-error>
            <mat-error *ngIf="userForm.get('password')?.hasError('minlength')">יש להכניס לפחות 6 תווים</mat-error>
          </mat-form-field>
     
          <mat-form-field appearance="fill"  class="mat-form-field">
            <mat-label>מייל</mat-label>
            <input matInput formControlName="email" (input)="onEmailInput()" placeholder="לדוג. example@gmail.com">
            <mat-error *ngIf="userForm.get('email')?.hasError('required')">שדה זה הינו חובה</mat-error>
            <mat-error *ngIf="userForm.get('email')?.hasError('email')"> מייל לא תקין</mat-error>  
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill"  class="mat-form-field">
            <mat-label>תפקיד</mat-label>
            <mat-select formControlName="role" placeholder="" required>
              <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
            </mat-select>
          </mat-form-field>
          
           
          <mat-form-field appearance="fill" class="mat-form-field">
            <mat-label>נוצר בתאריך</mat-label>
            <input matInput [value]="formattedCreatedAt" disabled>
          </mat-form-field>
     
          <mat-form-field appearance="fill" class="mat-form-field">
            <mat-label>עודכן בתאריך</mat-label>
            <input matInput [value]="formattedUpdatedAt" disabled>
          </mat-form-field>
    
          <div class="button-group">
            <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">שמור</button>                
            <button mat-raised-button color="warn" type="button" (click)="cancel()">ביטול</button>
          </div>
    
    
        </form>
      </mat-card-content>
    </mat-card> 
  </div>
