<form class="customer-all-detailes">
  <div class="row-layout">
    <button (click)="toggleEditMode()" mat-icon-button matTooltip="Edit" aria-label="Edit">
      <mat-icon>edit</mat-icon>
    </button>
    <h2>פרטים אישיים</h2>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>שם פרטי</mat-label>
    <input matInput placeholder="Enter your first name" readonly [(ngModel)]="customerdata.first_Name" name="firstName">
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 30px;">
    <mat-label>שם משפחה</mat-label>
    <input matInput placeholder="Enter your last name" readonly [(ngModel)]="customerdata.last_Name" name="lastName">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>אמייל</mat-label>
    <input matInput placeholder="Enter your email" [readonly]="!isEditMode" [(ngModel)]="customerdata.email" name="email">
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 30px;">
    <mat-label>פאלפון</mat-label>
    <input matInput placeholder="Enter your phone number" [readonly]="!isEditMode" [(ngModel)]="customerdata.phone" name="phone">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>כתובת</mat-label>
    <input matInput placeholder="Enter your adress" [readonly]="!isEditMode" [(ngModel)]="customerdata.address" name="adress">
  </mat-form-field>

  <mat-form-field appearance="fill" style="margin-left: 30px;">
    <mat-label>התקשרות</mat-label>
    <mat-select  placeholder="Select your option" [(ngModel)]="selectedOption" name="conect">
      <mat-option *ngFor="let option of options" [value]="option.value">
        <mat-icon>{{ option.icon }}</mat-icon>
        {{ option.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="isEditMode">
    <button mat-raised-button (click)="submitForm()">Submit</button>
  </div>

</form>