<<<<<<< HEAD
/* Use custom colors from global styles */


.customer-all-detailes {
  display: flex;
  flex-direction: column;
  width: 70vh;
  margin: auto;
  align-items: flex-end;
  

  /* Center align the form */
  h2 {
    // color: #333;
    color: var(--custom-primary);
    ;
    font-size: 24px;
    margin: auto;
    padding: 3vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /* Apply orange background to form fields */
  .mat-form-field {
    background-color: var(--custom-primary);
    margin-bottom: 15px;
    width: 100%;


    /* Ensure full width */

    /* Ensure input/select are visible */
    input.mat-input,
    textarea.mat-input,
    .mat-select-trigger {
      color: white;
    }
  }

  /* Override placeholder color if needed */
  .mat-form-field-placeholder {
    color: rgba(255, 255, 255, 0.7);
    /* Placeholder text color */
  }

  /* Style labels */
  .mat-form-field-label {
    color: white;
    /* Label text color */
  }

  /* Apply flex layout to rows */
  .row-layout {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    /* Add space between rows */


    /* Adjust spacing between form fields */
    .mat-form-field {
      margin-right: 30px;
      /* Add space between form fields */
      flex: 1;
      /* Equal width for fields */
    }

    .readonly-input {
      border-top-left-radius: var(--mdc-filled-text-field-container-shape);
      border-top-right-radius: var(--mdc-filled-text-field-container-shape);
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: var(--mdc-filled-text-field-container-color);
      width: 177.5px;
      z-index: 0;
      height: 50px;
      margin-bottom: 15px;
      padding: 0px 16px;
    }

    .readonly-input::placeholder {
      color: var(--mdc-filled-text-field-label-text-color);
      -webkit-font-smoothing: antialiased;
      line-height: normal;
      pointer-events: all;
      font: 400 1rem / 1.5rem Roboto, sans-serif;
      letter-spacing: .031rem;
    }

  }


  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {

    direction: rtl;
    width: 30vh;

    // :hover {
    //   color: var(--custom-primary);
    // }
  }


}

=======
.form-container {
  display: flex;
  flex-wrap: wrap;
}

.form-column {
  flex: 1 1 50%;
  max-width: 50%;
}

.form-field {
  margin-bottom: 16px;
}
>>>>>>> 1d9642c23d8cf451813b93b7eae866b85b6b76c1

