<div class="page-not-found-container">
  <div class="error-content">
    <h1 class="error-title">:( 404 - עמוד לא נמצא</h1>
    <p class="error-message">נראה שאתה מנסה לגשת לעמוד שלא קיים.</p>
    <p class="error-message">הדף שאתה מחפש פשוט נעלם</p>
    <div class="error-image">
      <img style="float: right;" src="assets/logo.png" alt="404 Error" width="300px" height="300px">
    </div>
    <div class="error-actions">
      <button mat-raised-button color="primary" routerLink="/">חזרה לדף הבית</button>
    </div>
  </div>
</div>