.page-not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f5f5f5; /* צבע רקע כללי */
    
    .error-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      /* max-width: 80%; */
      width: 80vw!important;

      background: #ffffff; /* צבע רקע לבן למרכז התוכן */
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל קל לכרטיס */
    }
  
    .error-title {
      font-size: 3rem; /* גודל גדול לכותרת */
      color: #333333; /* צבע כהה לטקסט */
      margin-bottom: 10px;
    }
  
    .error-message {
      font-size: 1.5rem; /* גודל טקסט גדול לקריאות טובה יותר */
      color: #666666; /* צבע אפור כהה */
      margin-bottom: 20px;
    }
  
    .error-image {
      margin-bottom: 20px;
      
      img {
        max-width: 100%; /* התמונה תתפוס את רוחב הקונטיינר */
        height: auto;
      }
    }
  
    .error-actions {
      button {
        margin-top: 10px;
        margin-right: 10px;
      }
    }
  }
  