<app-toolbar></app-toolbar>
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>

<!-- 
@if(loginService.isAdmin='lead')
{
    <ng-container>
        <app-magic-link></app-magic-link>
    </ng-container>
} -->
<!-- @if(loginService.isAdmin==undefined){
    <ng-container>
        <app-login></app-login>
    </ng-container>
    }
@if(loginService.isAdmin=='admin'){
<ng-container>
    <app-admin-dashboard></app-admin-dashboard>
</ng-container>
}
@if(loginService.isAdmin=='customer'){
    <ng-container>
        <app-customer-portal></app-customer-portal>
    </ng-container>
    
} -->

<footer> </footer>
