<app-toolbar></app-toolbar>
<!-- @if(navigationMenuService.isOpened()){ -->
<navigation-menu [componentsList]="componentArray"></navigation-menu>
<!-- } -->
<!-- <app-lead></app-lead> -->
<router-outlet></router-outlet>
<!-- <example></example> -->
<!-- <footer class="foot">
    <img src="/assets/logo_diversi.png" alt="diversitech" width="140px" height="140px">
</footer> -->
<!-- <footer class="custom-footer">
    <div class="footer-content">
      <img src="/assets/logo_diversi.png" alt="DiversiTech Logo" class="company-logo">
      <div class="company-details">
        <span class="company-name">©Y.B by DiversyTech</span>
        <span class="company-rights">All rights reserved</span>
        <div class="contact-info">
          <span class="phone">Phone: +123456789</span>
          <span class="email">Email: contact &#64;diversitech.com</span>
        </div>
      </div>
    </div>
  </footer>
   -->