.form-field {
  margin-top: 2%;
}

.mat-form-field {
  width: 100%;

}

.page-div {
  width: 100% !important;

}

.table-user {
  background-color: white;
  width: 100%;
}

* {
  color: black;
}


.paginator {
  width: 100% !important;
  background-color: white;
}

mat-paginator {
  width: 100%;
}

th,
td {
  word-wrap: break-word;

}

th {
  font-weight: bold !important;
}

.rtl-table-wrapper {
  width: 100%;
}

/* #content {
  background-color: rgba(255, 255, 255, 0.602);
  padding: 25px;
  border-radius: 10px;
  border: 5px solid rgba(128, 128, 128, 0.13);  min-width: max-content;
  min-height: 60vh;
  max-width: 70vw;
  margin:  0 auto;
} */

:host {
  background-color: transparent;
}