<mat-card class="lead-edit-card">
    <mat-card-title>פרטים אישיים</mat-card-title>
    <mat-card-content>
        <form (submit)="submitForm()">
            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label> שם פרטי</mat-label>
                <input matInput [(ngModel)]="formData['first_Name']" name="firstName">
                <mat-error>שדה זה הינו חובה</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label>שם משפחה</mat-label>
                <input matInput [(ngModel)]="formData['last_Name']" name="lastName">
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label>טלפון</mat-label>
                <input matInput [(ngModel)]="formData['phone']" name="phone">
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label>מייל</mat-label>
                <input matInput [(ngModel)]="formData['email']" name="email">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label>כתובת </mat-label>
                <input matInput [(ngModel)]="formData['adress']" name="adress">
            </mat-form-field>



            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label>תעודת זהות</mat-label>
                <input matInput [(ngModel)]="formData['t_z']" name="id">
            </mat-form-field>

            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label>תאריך לידה</mat-label>
                <input matInput type="date" [(ngModel)]="formData['birthDate']" name="birthDate">
            </mat-form-field>
            <!-- "" -->
            <mat-form-field appearance="fill" class="mat-form-field">
                <mat-label>התקשרות</mat-label>
                <mat-select placeholder="Select your option" [(ngModel)]="formData['connection']" name="connection">
                    <mat-option *ngFor="let option of options" [value]="option.value">
                        <mat-icon>{{ option.icon }}</mat-icon>
                        {{ option.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>