section {
  display: table;
}

.example-label {
  display: flex;
  font-size: 20px;
  margin-right: 90px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 20px 20px 20px 0;
}

button {
  background-color: rgba(255, 255, 255, 0.481) !important;
  padding: 30px !important;
}

@media screen and (max-width: 900px) {
  .example-label {
    display: flex;
    font-size: 8px;
    margin-right: 3px;
  }
  button{
    padding: 15px!important; 
    font-size: 10px!important;
  }
}

//   .example-flex-container {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//   }

//   .example-button-container {
//     display: flex;
//     justify-content: center;
//     width: 120px;
//   }