* {
    color: black;
}

:host {
    background-color: transparent;
}

.mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(178, 189, 202);
    /* background: linear-gradient(135deg, rgb(206, 213, 221), rgb(169, 178, 187)); */
    /* background: linear-gradient(135deg, #ffffff, #f1f3f5); */
    background: linear-gradient(135deg, rgb(244, 249, 255), rgb(227, 230, 233));
    /* background: linear-gradient(135deg, rgb(210, 216, 221), rgb(244, 249, 255)); */

    padding: 0 16px;

}

.tool-icon {
    color: rgb(197, 196, 196);
    font-size: 35px;
    padding: 10px;
}
.tool-icon:hover{
    color: rgb(173, 171, 171);
    cursor: pointer;
}
.toolbar-content {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.logo {
    height: 90px;
    width: 110px;
}

.buttonLog {
    height: 40px;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    color: black;
    padding: 0 16px;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s;
    margin-right: 16px;
}

.buttonLog:hover {
    background-color: #d4e6f1;
    transform: scale(1.05);
}

.welcome-message {
    display: flex;
    align-items: center;
    /* margin-left:70vw;  */
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

mat-toolbar {
    display: flex;
    height: 13vh;
    justify-content: space-between;
}

mat-icon {
    margin-right: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@media (max-width: 600px) {
    .tool-icon {
        font-size: 18px; /* Smaller icon size */
    }
    
    .logo {
        height: 50px; /* Further reduced height */
        width: 60px;  /* Further reduced width */
    }

    .buttonLog {
        font-size: 0.55rem; /* Smaller font size */
        padding: 2px;
    }
    .welcome-message {
        font-size: 0.55rem; /* Adjusted font size */
    }
    .toolbar-content {
        margin-bottom: 6px; /* Spacing between sections */
    }
    button{
        margin: 0;
        padding: 0;
    }
    .menuBut{
        /* font-size: 1rem!important; */
        padding: 0;
        margin-left: 0rem;
    }
    .menuBut:hover{
        background-color: transparent;
    }
    mat-icon {
        margin-right: 0px;
    }
        
}
