<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar-content">
    <div class="logo-container">
      <img src="assets/logo.png" alt="Logo" class="logo">
    </div>
    <button class="buttonLog" mat-button routerLink="/auth/login" >
      <mat-icon>{{ loginservice.isLoggedIn() ? 'logout' : 'login' }}</mat-icon>
      {{ loginservice.isLoggedIn() ? 'יציאה' : 'התחברות' }}
    </button>
    <div class="welcome-message">
      <span class="span">!שלום {{this.loginservice.GetCurrentUser().userName!=undefined?this.loginservice.GetCurrentUser().userName:'אורח' }}</span>
    </div>
  </div>
  <button mat-icon-button (click)="toggleNavigationMenu()" >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
