<div class="mainAll">
  <mat-form-field>
    <mat-label>חפש</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="לדוגמה, שם">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div id="main">
    <ng-container *ngIf="isLoading; else dataLoaded">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p style="text-align: center; margin-top: 15px;">הנתונים נטענים...</p>
    </ng-container>
    <ng-template #dataLoaded>
    <!-- אזור הלקוחות -->
    <section class="contents">
      <header>
        <h2 class="component-title">רשימת לקוחות</h2> <!-- header  -->
      </header>
      <table mat-table [dataSource]="customers" matSort class="mat-elevation-z8" dir="rtl">
        <ng-container matColumnDef="first_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי</th>
          <td mat-cell *matCellDef="let customer">
            {{customer.first_Name}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="last_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שם משפחה</th>
          <td mat-cell *matCellDef="let customer">
            {{customer.last_Name}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>כתובת</th>
          <td mat-cell *matCellDef="let customer">{{ customer.address }}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>טלפון</th>
          <td mat-cell *matCellDef="let customer">{{ customer.phone }}</td>
        </ng-container>
        <ng-container matColumnDef="Customer_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>סוג לקוח</th>
          <td mat-cell *matCellDef="let customer">{{ getCustomerTypeString(customer.customer_type) }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>פעולות</th>
          <td mat-cell *matCellDef="let customer">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" matTooltip="אפשרויות נוספות"
              matTooltipPosition="left" class="icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="editCustomer(customer)" class="icon-button edit">
                <mat-icon>edit</mat-icon>
                <span>עריכת לקוח</span>
              </button>
              <button mat-menu-item (click)="deleteCustomer(customer)" class="icon-button delete">
                <mat-icon>delete</mat-icon>
                <span>מחיקת לקוח</span>
              </button>
              <button mat-menu-item (click)="sendMsg(customer)" class="icon-button send-msg">
                <mat-icon>message</mat-icon>
                <span>שליחת מסר</span>
              </button>
            </mat-menu>
            
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #customersPaginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      <br>
      <export-to-excel [typeOfCustomer]="1"></export-to-excel>
    </section>

    <!-- אזור הלקוחות בארכיון -->
    <section class="contents">
      <header>
        <h2 class="component-title">רשימת לקוחות בארכיון</h2> <!-- header  -->
      </header>
      <table mat-table [dataSource]="archivedCustomers" matSort class="mat-elevation-z8" dir="rtl">
        <ng-container matColumnDef="first_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי</th>
          <td mat-cell *matCellDef="let customer">
            {{customer.first_Name}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="last_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שם משפחה</th>
          <td mat-cell *matCellDef="let customer">
            {{customer.last_Name}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>כתובת</th>
          <td mat-cell *matCellDef="let customer">{{ customer.address }}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>טלפון</th>
          <td mat-cell *matCellDef="let customer">{{ customer.phone }}</td>
        </ng-container>
        <ng-container matColumnDef="Customer_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>סוג לקוח</th>
          <td mat-cell *matCellDef="let customer">{{ getCustomerTypeString(customer.customer_type) }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>פעולות</th>
          <td mat-cell *matCellDef="let customer">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" matTooltip="אפשרויות נוספות"
              matTooltipPosition="left" class="icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="editCustomer(customer)" class="icon-button edit">
                <mat-icon>edit</mat-icon>
                <span>עריכת לקוח ארכיון</span>
              </button>
              <button mat-menu-item (click)="deleteCustomer(customer)" class="icon-button delete">
                <mat-icon>delete</mat-icon>
                <span>מחיקת לקוח ארכיון</span>
              </button>
              <button mat-menu-item (click)="sendMsg(customer)" class="icon-button send-msg">
                <mat-icon>message</mat-icon>
                <span>שליחת מסר ללקוח ארכיון</span>
              </button>
            </mat-menu>
            
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #archivedCustomersPaginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
<br>
      <export-to-excel [typeOfCustomer]="2"></export-to-excel>
    </section>

    <!-- אזור הלידים -->
    <section class="contents">
      <header>
        <h2 class="component-title">רשימת לידים</h2> <!-- header  -->
      </header>
      <table mat-table [dataSource]="leads" matSort class="mat-elevation-z8" dir="rtl">
        <ng-container matColumnDef="first_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי</th>
          <td mat-cell *matCellDef="let customer">
            {{customer.first_Name}} {{customer.id}}
          </td>
        </ng-container>
        <ng-container matColumnDef="last_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>שם משפחה</th>
          <td mat-cell *matCellDef="let customer">
            {{customer.last_Name}} 
          </td>
        </ng-container>
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>כתובת</th>
          <td mat-cell *matCellDef="let customer">{{ customer.address }}</td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>טלפון</th>
          <td mat-cell *matCellDef="let customer">{{ customer.phone }}</td>
        </ng-container>
        <ng-container matColumnDef="Customer_type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>סוג לקוח</th>
          <td mat-cell *matCellDef="let customer">{{ getCustomerTypeString(customer.customer_type) }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>פעולות</th>
          <td mat-cell *matCellDef="let customer">
            <button mat-icon-button [matMenuTriggerFor]="actionsMenu" matTooltip="אפשרויות נוספות"
              matTooltipPosition="left" class="icon-button">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item (click)="editCustomer(customer)" class="icon-button edit">
                <mat-icon>edit</mat-icon>
                <span>עריכת ליד</span>
              </button>
              <button mat-menu-item (click)="deleteCustomer(customer)" class="icon-button delete">
                <mat-icon>delete</mat-icon>
                <span>מחיקת ליד</span>
              </button>
              <button mat-menu-item (click)="sendMsg(customer)" class="icon-button send-msg">
                <mat-icon>message</mat-icon>
                <span>שליחת מסר לליד</span>
              </button>
            </mat-menu>
            
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #leadsPaginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
      <br>
      <button mat-fab color="primary" class="icon-button add" (click)="addCustomer()" matTooltip="הוספת ליד חדש למערכת"
        matTooltipPosition="above" style="bottom: 12vh;left: 3vw;z-index: 1000;position: fixed;">
        <mat-icon class="icon">add</mat-icon>
      </button>
      <export-to-excel [typeOfCustomer]="0"></export-to-excel>
    </section>
    </ng-template>
  </div>
</div>
