// * {
//   font-size: 20px;
//   text-align: right;
// }

.sidenav-container {
  min-height: 100vh;
  // height: max-content;
  height: 100vh;

  flex-grow: 1;
overflow: auto;
}

.mat-icon {
  float: right;
  margin-left:10px
}

.sidenav {
  width: 13vw;
  margin: 0 ;
  min-width: max-content;
  height: 100vh;
}
// a {
//     padding: 30px ;
// }
@media only screen and (max-width: 900px) {
    a {
      padding: 5px ;
    }
  
    span {
      font-size: 18px ;
    }
}
