<p>forgot-password works!</p>
 <div class="forgot-password-container">
    <div class="forgot-password-card">
      <h3 class="card-title" style="font-size: 40px;">
        <i class="material-icons" style="font-size: 30px; float: none;">lock_open</i> שכחתי סיסמה
      </h3>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="newPassword"><i class="material-icons">lock</i> סיסמה חדשה</label>
          <input
            type="password"
            class="form-input"
            id="newPassword"
            formControlName="newPassword"
            placeholder="סיסמה חדשה"
          />
         
          
          @if(newPassword?.invalid && (newPassword?.dirty || newPassword?.touched))
        {
          <div class="text-danger">
            @if(newPassword?.errors?.['required'])
            {
                <div> נדרשת סיסמא חדשה</div>
            }
            @if(newPassword?.errors?.['minlength']){
                <div >הסיסמה חייבת להיות לפחות 6 תווים.</div>
            }
        @if(newPassword?.errors?.['pattern'])
        {
             <div>הסיסמה חייבת להכיל אות גדולה, אות קטנה, מספר ותו מיוחד.</div>
        }
          </div>
        }
        </div>
    

        <div class="form-group">
          <label for="confirmPassword"><i class="material-icons">lock</i> אשר סיסמה</label>
          <input
            type="password"
            class="form-input"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="אשר סיסמה"
          />
        
          @if(confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched))
          {
             <div  class="text-danger">
          
         @if(confirmPassword?.errors?.['required'])
             {
                <div >אישור סיסמה נדרש.</div>
              }       
              @if(confirmPassword?.errors?.['mustMatch'])
              {
                  <div >הסיסמאות אינן תואמות.</div>
              }
          </div>
        }
        </div>
        <button type="submit" class="submit-btn" [disabled]="forgotPasswordForm.invalid">שמור סיסמה</button>
      </form>
    </div>
  </div> 
  

