<div class="forgot-password-container">
  <div class="forgot-password-card login-card">
    <h3 class="card-title">
      <i class="material-icons" style="font-size: 30px;">lock_open</i> שכחתי סיסמה
    </h3>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <div class="form-group">
        <mat-form-field class="full-width" appearance="outline" dir="rtl">
          <mat-label><i class="material-icons">lock</i> סיסמה חדשה</mat-label>
          <input matInput type="password" formControlName="newPassword" placeholder="סיסמה חדשה">
          <mat-error *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
            <div *ngIf="newPassword?.errors?.['required']">נדרשת סיסמא חדשה</div>
            <div *ngIf="newPassword?.errors?.['minlength']">הסיסמה חייבת להיות לפחות 6 תווים.</div>
            <div *ngIf="newPassword?.errors?.['pattern']">הסיסמה חייבת להכיל אות גדולה, אות קטנה, מספר ותו מיוחד.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="full-width" appearance="outline" dir="rtl">
          <mat-label><i class="material-icons">lock</i> אשר סיסמה</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="אשר סיסמה">
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
            <div *ngIf="confirmPassword?.errors?.['required']">אישור סיסמה נדרש.</div>
            <div *ngIf="confirmPassword?.errors?.['mustMatch']">הסיסמאות אינן תואמות.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="forgotPasswordForm.invalid">שמור סיסמה</button>
    </form>
  </div>
</div>
