* {
    color: black;
    /* scroll-behavior: smooth; */
}

.mat-toolbar {
    display: flex;
    justify-content: space-between;


 /* my*/
    /* background-color: darkgray;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    width: 100% !important;
    overflow: hidden;
    align-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    width: 100% !important;
    overflow: hidden;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: center; */

    /* background-color: rgba(135, 148, 162, 0.73); */


     /* nain branch*/
    background-color: rgb(178, 189, 202);;
}


/* my*/
    /* @media (min-width: 360px) {
        width: 130%;
    }

    @media (min-width: 344px) {
        width: 136%;
    }

    @media (min-width: 768px) {
        width: 100%;
    } 
} */

/* my*/
/* .yesMobiletoolbar{
    width: 100% !important;
    overflow: hidden;
    align-content: space-between;
    flex-wrap: nowrap;
} */

.buttonLog {
    height: 70%;
    border-radius: 28%;
    font-size: 70%;
    font-weight: 600;
    text-align: center;
    width: 8vw;
    /* min-width: 100px; */
    padding: 0 16px;
    color: black !important;
    background-color: rgb(246, 243, 243);
}

div {
    width: 100%;
    margin-left: 2%;
}