
 .notifications-list {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .mat-card {
    width: 40%; /* רוחב קבוע לכרטיס */
    height: 10%;
    display: grid;
    flex-direction: column;
  }

  

 