html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    // font-family: EFT_Globus Black
}

::-webkit-scrollbar {
    width: 15px;
}
tr:hover{
    background-color: rgba(178, 189, 202, 0.058)!important;
  } 

::-webkit-scrollbar-track {
    background: #E7E5E8;
}

::-webkit-scrollbar-thumb {
    background: #6a859f;
    border: 2px solid #E7E5E8;
}

::-webkit-scrollbar-thumb:hover {
    background: #576d82;
}

.icon-button {
    transition: transform 0.8s, color 0.3s;
  }
  
  .icon {
    transition: transform 0.3s, color 0.3s;
  } 
  .icon-button.attach:hover .icon {
    transform: rotate(45deg) scale(1);
    color:#4469d8;
  }