html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    // font-family: EFT_Globus Black
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #E7E5E8;
}

::-webkit-scrollbar-thumb {
    background: #7175D8;
    border: 2px solid #E7E5E8;
}

::-webkit-scrollbar-thumb:hover {
    background: #4F52AF;
}