html,
body {
    height: 100%;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M16 0 L32 32 L16 24 L0 32 Z" fill="#f00"/></svg>'), auto;

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
    width: 15px;
}
tr:hover{
    background-color: rgba(178, 189, 202, 0.058)!important;
  } 

// ::-webkit-scrollbar-track {
//     background: #E7E5E8;
// }

// ::-webkit-scrollbar-thumb {
//     background: #6a859f;
//     border: 2px solid #E7E5E8;
// }

// ::-webkit-scrollbar-thumb:hover {
//     background: #576d82;
// }
/* בסיס עבור כל הסקרולברים */
::-webkit-scrollbar {
  width: 16px; /* רוחב הסקרולבר */
}

::-webkit-scrollbar-track {
  background: #e0e0e0; /* צבע הרקע של המסלול */
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* הצללה פנימית */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff7e5f, #feb47b); /* צבע הידית עם גרדיאנט */
  border-radius: 8px;
  border: 4px solid #fff; /* מסגרת לבנה סביב הידית */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* הצללה חיצונית */
  transition: background 0.4s ease, transform 0.2s ease; /* אפקטים חלקים */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f); /* שינוי צבע הידית בעת ריחוף */
  transform: scale(1.1); /* הגדלת הידית בעת ריחוף */
}

/* עיצוב סקרולברים עבור סרגל גלילה אנכי */
::-webkit-scrollbar {
  width: 16px; /* רוחב הסקרולבר */
}

::-webkit-scrollbar-track {
  background: #e0e0e0; /* צבע הרקע של המסלול */
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* הצללה פנימית */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff7e5f, #feb47b); /* צבע הידית עם גרדיאנט */
  border-radius: 8px;
  border: 4px solid #fff; /* מסגרת לבנה סביב הידית */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* הצללה חיצונית */
  transition: background 0.4s ease, transform 0.2s ease; /* אפקטים חלקים */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f); /* שינוי צבע הידית בעת ריחוף */
  transform: scale(1.1); /* הגדלת הידית בעת ריחוף */
}

/* עיצוב סקרולברים עבור סרגל גלילה אופקי */
::-webkit-scrollbar-horizontal {
  height: 16px; /* גובה הסקרולבר */
}

::-webkit-scrollbar-track {
  background: #e0e0e0; /* צבע הרקע של המסלול */
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* הצללה פנימית */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #a1b8e9, #afaeae); /* צבע הידית עם גרדיאנט */
  border-radius: 8px;
  border: 1px solid #fff; /* מסגרת לבנה סביב הידית */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* הצללה חיצונית */
  transition: background 0.4s ease, transform 0.2s ease; /* אפקטים חלקים */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #afaeae, #a1b8e9); /* שינוי צבע הידית בעת ריחוף */
  transform: scale(1.1); /* הגדלת הידית בעת ריחוף */
}

.rotate {
    animation: rotation 2s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .icon-button {
    transition: transform 0.8s, color 0.3s;
  }
  
  .icon {
    transition: transform 0.3s, color 0.3s;
  }
  
  .icon-button.delete:hover .icon {
    transform: rotate(20deg);
    color: rgb(174, 0, 0);
  }
  
  .icon-button.edit:hover .icon {
    transform: scale(1.2);
    color: rgb(84, 139, 84);
  }
  
  .icon-button.add:hover .icon {
    transform: rotate(360deg);
    color: rgb(151, 151, 255);
  }
  
  .icon-button.email:hover .icon {
    transform: scale(1.2) rotate(-10deg);
    color: rgb(255, 213, 136);
  }
  
  .icon-button.whatsapp:hover .icon {
    transform: scale(1.2);
    color: #25d366; /* צבע ירוק של ווטסאפ */
  }
  .icon-button.download:hover .icon {
    transform: translateY(10px);
    color: #035ba2; /* צבע כחול */
  }
  .icon-button.attach:hover .icon {
    transform: rotate(45deg) scale(1);
    color: #035ba2; /* צבע כתום */
  }
  /* אנימציה לאייקון מטוס */
  .icon-button.send:hover .icon {
    float: right;
    transform: translateY(-5px) rotate(-30deg);
    color: #feffb3; /* צבע ירוק */
    animation: fly 0.5s  alternate;
  }
  
  @keyframes fly {
    0% {
        transform: translateY(0) rotate(0);
      }
      50% {
        transform: translateY(-8px) rotate(-45deg);
      }
      100% {
        transform: translateY(-5px) rotate(-45deg);
      }
    
  }
  .mainAll {
    border-radius: 10px;
    border: 5px solid rgba(128, 128, 128, 0.13);
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.582);
    margin: 0 auto;
    min-height: 100vh;
  
  }
  .contents {
    background-color: rgba(203, 210, 217, 0.211);
    border: 2px solid rgba(128, 128, 128, 0.144);
    width: 50vw;
    margin: 0px auto;
    padding: 25px;
  }
  //So that the background color of INPUT with automatic completion is according to the father
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
  }
  /* styles.css או קובץ ה-CSS הגלובלי שלך */
// .high-contrast.body {
//   background-color: black !important;
//   color: yellow !important;
// }
// .high-contrast.div

// {
//    color:yellow !important;
//    background-color:black !important;
// }


// .high-contrast * {
//   fill:yellow !important; /* עבור אייקונים ב-SVG */
// }
// .high-contrast.span
// {
//   color:yellow !important;
//   background-color: black !important;
// }
.high-contrast p,
.high-contrast h1,
.high-contrast h2,
.high-contrast h3,
.high-contrast h4,
.high-contrast .span
 {
  color: yellow !important;
  background-color: black !important;
}


/* התאמות מיוחדות לאלמנטים של Angular Material */
.high-contrast .mat-icon,
.high-contrast .mat-button,
.high-contrast .mat-checkbox .mat-checkbox-background
 {
  color: yellow !important;
  fill: yellow !important;
}


// /* התאמות מיוחדות ל-Button */
.high-contrast .mat-button-wrapper {
  color: yellow !important;
}

.high-contrast table.mat-table th.mat-header-cell,
.high-contrast table.mat-table td.mat-cell {
  background-color: black !important;
  color:yellow!important;
}

.high-contrast table.mat-table mat-icon {
  color:yellow !important;
  fill:yellow !important;
  background-color: yellow !important;
}

.high-contrast mat-menu {
  background-color: black !important;
  color:yellow !important;
}

.high-contrast mat-menu button {
  color:yellow !important;
  background-color: black !important;
}

.high-contrast mat-paginator {
  background-color: black !important;
  color:yellow !important;
}

.high-contrast mat-paginator .mat-icon-button {
  color:yellow !important;
}



/* global styles.css */

.high-contrast {
  background-color: black;
  color: white;
}

.large-font {
  font-size: 150%;
}

.normal-font {
  font-size: 100%;
}

.increased-line-height {
  line-height: 2;
}

.normal-line-height {
  line-height: normal;
}

.increased-spacing {
  letter-spacing: 0.1em;
}

.normal-spacing {
  letter-spacing: normal;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
