.form-field {
  margin-top: 2%;
}

.mat-form-field {
  width: 100%;

}

.page-div {
  width: 100% !important;

}

.table-user {
  background-color: white;
  width: 100%;
}

* {
  color: black;
}


.paginator {
  width: 100% !important;

  @media (min-width: 375px) {
    /* width: 125%; */
  }

  @media (min-width: 360px) {
    /* width: 130%; */
  }

  @media (min-width: 344px) {
    /* width: 136%; */
  }

  @media (min-width: 768px) {
    /* width: 100%; */
  }

  background-color: white;
  /* רקע לבן */
}

mat-paginator {
  width: 100%;
}

th,
td {
  word-wrap: break-word;

}

th {
  font-weight: bold !important;

}

/* tr:hover{
  background-color: rgba(178, 189, 202, 0.058)!important;
} */
.rtl-table-wrapper {
  width: 100%;
}

#content {
  background-color: rgba(255, 255, 255, 0.602);
  padding: 25px;
  border-radius: 40px;
  min-width: max-content;
  min-height: 60vh;
  max-width: 70vw;
  margin:  0 auto;
}

:host {
  background-color: transparent;
}