<div class="login-container">
  <div class="login-card">
    <h3 class="card-title">
       הירשם לכניסה
    </h3>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="form-group">
        <mat-form-field class="full-width" appearance="outline" dir="rtl">
          <mat-label><i class="material-icons">email</i> כתובת אמייל</mat-label>
          <input matInput type="email" formControlName="email" placeholder="you@example.com">
          <mat-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.['required']">Email is required.</div>
            <div *ngIf="email?.errors?.['email']">אימייל לא תקין.</div>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="full-width" appearance="outline" dir="rtl">
          <mat-label><i class="material-icons">lock</i> סיסמה</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password">
          <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.['required']">שדה חובה</div>
            <div *ngIf="password?.errors?.['minlength']">הסיסמא חייבת להכיל לפחות 6 תווים</div>
            <div *ngIf="password?.errors?.['pattern']">הסיסמא לא יכולה להכיל רווחים</div>
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-button mat-raised-button color="primary" type="submit" class="submit-btn" [disabled]="loginForm.invalid">התחברות</button>
    </form>
    <div class="forgot-password">
      <a (click)="forgotPassword()" class="text-muted" dir="rtl">שכחת סיסמא?</a>
    </div>
  </div>
</div>
