.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  text-align: right;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #4285f4;
}

.mat-icon-button {
  cursor: pointer;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
}

.text-danger {
  font-size: 0.875em;
  color: red;
}

.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.text-muted {
  color: #6c757d;
}
.text-muted:hover{
  cursor: pointer;
}
:host {
  background-color: transparent;
}
