<div id="content">
    <mat-card class="document-type-edit-card">
        <mat-card-title>ניהול סוג מסמך</mat-card-title>
        <mat-card-content class="card-content">
            <form [formGroup]="documentTypeForm" (ngSubmit)="onSubmit()">
<div class="div-warp-fields">
                <mat-form-field class="type-field" appearance="fill">
                    <mat-label>סוג העסקה</mat-label>
                    <mat-select formControlName="transaction_Type" required>
                        <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType">
                            {{transactionType }}
                        </mat-option>
                    </mat-select>

                    <mat-error *ngIf="documentTypeForm.get('transaction_Type')?.hasError('required')">
                        שדה זה הינו חובה
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="name-field">
                    <mat-label>שם המסמך</mat-label>
                    <input matInput formControlName="document_Name" placeholder="">
                    <mat-error *ngIf="documentTypeForm.get('document_Name')?.hasError('required')">
                        שדה זה הינו חובה
                    </mat-error>
                </mat-form-field>
               
                <mat-checkbox formControlName="required" >נדרש</mat-checkbox>
            </div>
                <div class="button-group">
                    <button mat-raised-button color="primary" type="submit" [disabled]="documentTypeForm.invalid">שמור</button>
                    <button mat-raised-button color="warn" type="button" (click)="cancel()">ביטול</button>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>