<div class="container">
  <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple hidden />
  <button mat-raised-button color="primary" (click)="triggerFileInput()">
    <mat-icon>upload</mat-icon>
    Select Files
  </button>

  <button mat-raised-button color="primary" [disabled]="!selectedFiles || selectedFiles.length === 0"
    (click)="onUpload()">
    Upload
  </button>

  <!-- Display selected file names -->
  @if ( selectedFiles && selectedFiles.length > 0) {
  <div >
    <h3>Selected Files:</h3>
    <ul>
      @for(file of selectedFiles;track file.name){
      <li >{{ file.name }}</li>}
    </ul>
  </div>
  }
  @if ( uploadedFiles && uploadedFiles.length > 0) {
  <!-- Display uploaded file names -->
  <div >
    <h3>Uploaded Files:</h3>
    <ul>
      @for(file of uploadedFiles;track file.name){
      <li >{{ file.name }}</li>}
    </ul>
  </div>
  }
  <!-- Display upload progress -->
  @if(uploadProgress > 0){
    <div class="progress-bar">
      <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
      Upload Progress: {{ uploadProgress }}%
    </div>}
</div>
<div>
  <input type="text" [(ngModel)]="fileId" placeholder="Enter file ID">
  <button mat-raised-button color="primary" (click)="download()">Download File</button>
</div>
