.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button {
  margin-top: 10px;
}

.progress-bar {
  width: 100%;
  margin-top: 10px;
}

.download-button {
  margin-top: 10px;
}

/* #msg {
  color: rgb(152, 189, 207);
  border: 3px black solid;
  padding: 25px;
  background-color: black;
  border-radius: 5px;
} */