/* lead-form.component.css */
mat-form-field {
    width: 100%;
  }
  button {
    margin-right: 8px;
  }
  h3 {
    margin-top: 20px;
  }


  .invalid-requirement {
    color: red;
  }
  
  .valid-requirement {
    color: green;
  }
  mat-horizontal-stepper{
    width: 50vw;
    margin: 0 auto;
  }
  #content {
    background-color: rgba(255, 255, 255, 0.602);
    padding: 25px;
    border-radius: 40px;
    min-width: max-content;
    min-height: 60vh;
  }
