/* lead-form.component.css */
mat-form-field {
    width: 100%;
  }
  button {
    margin-right: 8px;
  }
  h3 {
    margin-top: 20px;
  }


  .invalid-requirement {
    color: red;
  }
  
  .valid-requirement {
    color: green;
  }
  