* {
  font-size: 20px;
  text-align: right;
  color: black;
  scroll-behavior: smooth;
}
@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

.open {
  animation: slideIn 0.5s ease-in-out;
}

.close {
  animation: slideOut 0.5s ease-in-out;
}

.sidenav-container{
  min-height:550px;
  height: max-content;
}


.sidenav {
  box-shadow: 0 7px 20px 5px #00000088;
  width: 17vw;
  @media (min-width: 540px) {
    display: flex;
    margin: 0;
    overflow: hidden;
  }
}
a{
  padding: 30px!important;
}


.container{
  height: max-content;
  background-image: url("/assets/background.jpg");
  background-size: cover;  
}
.main-content{
  // height: 100vh;
  // background-image: url("/assets/back.jpg");
  // background-size: cover;
  // background-attachment:scroll;


}
// my
// .main-content {
//   padding: 20px;
// }

// my
// a {
//   padding: 10px;
// }

// my
// a:hover {
//   background-color: rgba(207, 210, 210, 0.327) !important;
// }

//my
// mat-icon,
// span {
//   background-color: transparent !important;
//   padding-bottom: 5px;
// }

// my
// span {
//   margin-left: 5px;
// }

// my
// mat-icon {
//   float: right;
// }

// my
// @media screen and (max-width: 920px) {
//   * {
//     font-size: 15px;
//   }

// my
//   .main-content {
//     padding: 0px;
//   }

// my
//   a {
//     padding: 0px;
//   }

// my
//   .sidenav-container {
//     height: 50vh;
//   }

// my
//   .sidenav {
//     width: 100vw;
//   }

// my
  // .toggle-button {
  //   background-color: rgba(203, 203, 203, 0.508) !important;
  //   margin: 10px;
  //   text-align-last: center;
  // }


//main branch
mat-icon {
  float: right;
}
//main branch
.mat-sidenav-content {
  min-height: max-content;
  padding: 20px;
}

@media only screen and (max-width: 900px) {
  a{
    padding: 5px!important;
  }
  span{
    font-size: 18px!important;
  }
  .mat-icon {
    float: right;
  }
  .sidenav {
    box-shadow: 0 7px 20px 5px #00000088;
    width: 25vw;
    margin: 0!important;
    min-width: max-content;
  }
}
//main branch
.main-content{
  height: 100vh;
  // background-image: url("https://t4.ftcdn.net/jpg/02/27/74/75/240_F_227747577_VMbOvpidnsdkwCKMI8nUx7KdLQmF4wvQ.jpg");
// background-image: url("./assets/istockphoto-1393059175-612x612.jpg");
// background-image: url('/assets/Mortgage2.bak.webp');
// background-size: cover;
}
mat-sidenav-container{
  // background-image: url('/assets/Mortgage2.bak.webp');
  background-size: cover;
}
// mat-sidenav-container{
 
// }
