* {
  font-size: 20px;
  text-align: right;
  background-color: white !important;
  color: black;
  scroll-behavior: smooth;
}

.sidenav-container {
  height: max-content;
  // min-height: 80vh;
  display: flex;
  height: 100vh;
}

// .toggle-button {
//   background-color: rgba(203, 203, 203, 0.508) !important;
//   margin: -10px;
// }

.mat-sidenav-content {
  flex: 1;
  padding: 20px;
}

.sidenav {
  box-shadow: 0 7px 20px 5px #00000088;
  width: 17vw;
  @media (min-width: 540px) {
    display: flex;
    margin: 0;
    overflow: hidden;
  }
}

.mat-list-item:hover {
  background-color: rgba(207, 210, 210, 0.2);
}

.main-content {
  padding: 20px;
}

a {
  padding: 10px;
}

a:hover {
  background-color: rgba(207, 210, 210, 0.327) !important;
}

mat-icon,
span {
  background-color: transparent !important;
  padding-bottom: 5px;
}

span {
  margin-left: 5px;
}

mat-icon {
  float: right;
}

@media screen and (max-width: 920px) {
  * {
    font-size: 15px;
  }

  .main-content {
    padding: 0px;
  }

  a {
    padding: 0px;
  }

  .sidenav-container {
    height: 50vh;
  }

  .sidenav {
    width: 100vw;
  }

  // .toggle-button {
  //   background-color: rgba(203, 203, 203, 0.508) !important;
  //   margin: 10px;
  //   text-align-last: center;
  // }
}