<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #sidenav mode="side" position="end" class="sidenav" dir="rtl" opened *ngIf="navigationMenuService.isOpened()">
    <mat-nav-list dir="rtl" >
      @for (c of componentsList; track c) {
      <a mat-list-item [routerLink]="c.path">
        <span>{{ c.name }}</span>
        <mat-icon>{{ c.icon }}</mat-icon>
      </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content" dir="rtl">
    <div class="content" >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>