.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 5px rgba(21, 22, 21, 0.2);
    height:60px;
    background-color: rgb(178, 189, 202); 
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;*/
    grid-area: "footer";
    /* z-index: 5; */
   }
   .footer img.footer-image {
    height: 80px;
    width: 80px;
    margin-right: 60px;
    /* box-shadow:0 -3px 10px rgb(11, 27, 14); */
    border-radius: 3px;
  }
  .footer-text {
    color:#f41db0e9;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
  }
