<!-- <div class="footer" #footer>
  <div class="site-info">
  </div>
  <div class="contact-info">
    <p style="float: right;">ז'בוטינסקי 71 בני ברק<mat-icon style="float: right;">home</mat-icon> </p><br>
    <p style="float: right;">054-8492564<mat-icon style="float: right;">phone</mat-icon> </p><br>
    <p style="float: right;"> m0548492564&#64;gmail.com <mat-icon style="float: right;">email</mat-icon> </p>
  </div>
  <p class="footer-text">© 2024 Y.B by DiversiTech. All rights reserved.</p>
  <img src="assets/logo_diversi.png" alt="Logo Image" class="footer-image">
</div> -->
<div class="footer" #footer>
  <div class="site-info">
  </div>
  <p class="footer-text">© 2024 Y.B by DiversiTech. All rights reserved.</p>
  <img src="assets/logo_diversi.png" alt="Logo Image" class="footer-image">
</div>