button {
  margin-right: 8px;
}

@media screen and (max-width: 1000px) {
  .mat-table {
    padding: 1px;
    font-size: 12px;
  }
  .mat-cell {
    padding: 1px;
    margin: 0;
  }
  mat-icon{
    font-size: 20px!important;
  }
}
th{
  font-weight: bold!important;
}
