
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  @media screen and (min-width: 900px){
    
    // th{
    //   padding: 3px!important;
    // }
    // *{
    //   font-size: 15px!important;
    // }
  }