@media screen and (max-width: 900px) {
  .mat-table {
    padding: 1px !important;
    font-size: 12px !important;
  }

  .mat-cell {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 0px !important;
    max-height: min-content !important;
  }

  mat-icon {
    font-size: 20px !important;
  }

  .th,
  td,
  ng-container {
    padding: 1vw !important;
    margin: 1vw !important;
  }
}

th {
  font-weight: bold !important;
}