.accessibility-button {
    position:absolute;
    bottom: 16px;
    left: 16px;
    z-index: 1000;
  }
  /* .high-contrast {
    background-color: #000;
    color: #e6ea07;
    filter: contrast(200%);
  } */
.container-item {
    padding: 10px;
    /* background-color: #f9fafb; */
    color: #0d0d0d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.simple-keyboard {
    position: absolute;
    bottom: 0;
    width: 60%;
    margin-left: 327px; 
    background-color: #333;
    color: black;
    border: 2px solid red; 
}
.simple-keyboard .hg-button {
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
}
.simple-keyboard .hg-button:hover {
    background-color: #777;
}

.simple-keyboard .hg-button:active {
    background-color: #999;
}
